@import 'mixin';

.topSideBar {
	background-color: lightgray;
	padding: 5px;
	
	.searchbox {
		position: relative;
	}
	
	.searchbox:before {
		font-family: 'Glyphicons Halflings';
		content: "\e003";
		position: relative;
		left: 26px;
		top: 1px;
	}
	
	input[type="search"] {
		text-align: left;
		padding-left: 25px;
		padding-right: 10px;
		width: 150px;
		@include border-radius(30px);
	}
	
	.cart {
		padding-right: 10px;
		color: black;
	}
}

.mainNavBar {
	@include linearGradient(#f0b7a1, #8c3310, #752201, #bf6e4e);
	padding: 0px;

	.navbar-brand img {
		position: relative;
		top: -50%;
		max-width: 40px;
	}
	
	a {
		color: white !important;
	}
}

.menuHeader {
	font-family: 'Spectral', serif;
	font-weight: bold;
	border: 4px solid grey;
}

.menuItem {
	padding: 5px;
	background-color: lightgrey;
	color: red;
	text-align: center;
}

.dataRow {
	padding: 10px;
	position: relative;
	@include border-radius(0);
	margin-bottom: 0;
	border-bottom: 4px solid rgba(0,0,0,.5);

	input[type="text"] {
		position: relative;
		width: 40px;
		text-align: center;
		margin: 0 auto;
	}

	input[type="text"] > input {
		margin: 0 auto;
	}
}

.dataRow button.close {
	position: absolute;
	right: 10px;
	top: calc(50% - 10px;);
}

.productImage {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}

.price {
	text-align: center;
}
